<%- include("template/cabecera", {tituloWeb: 'Página de inicio'})%>
<div align="center">
    <h1 class="text-primary">Animalitos</h1>
    <h2><%= titulo%> </h2>

    <img
        src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMgLOCj20Iyv0PxeWxGuL5vCHwx_ym6dlw-Q&usqp=CAU'></img>
</div>
<%- include("template/footer")%>