<%- include("template/cabecera", {tituloWeb: 'Página de servicios'})%>
<div align="center">
    <h1 class="text-primary">Servicios</h1>
    <h2><%= tituloServicios %> </h2>
    <img src="https://img.freepik.com/free-vector/welsh-corgi-puppy-smiling_42750-328.jpg?size=338&ext=jpg">

    <div>
        <p>Servicio veterinario</p>
        <p>Aplicación de vacunas para mascotas</p>
        <p>Vacunación antirrábica</p>
        <p>Desparasitaciones</p>
        <p>Aplicación de microchips</p>
        <p>Pensión para mascotas</p>
        <p>Compra venta de jaulas de transporte</p>
    </div>
</div>
<%- include("template/footer")%>