<%- include("template/cabecera", {tituloWeb: 'Página de servicios'})%>
    <h1 class="text-primary">Servicios</h1>
    <h2><%= tituloServicios %> </h2>
    <ul>
        <li>Servicio veterinario</li>
            <li>Aplicación de vacunas para mascotas</li>
                <li>Vacunación antirrábica</li>
                    <li>Desparasitaciones</li>
                        <li>Aplicación de microchips</li>
                            <li>Pensión para mascotas</li>
                                <li>Compra venta de jaulas de transporte</li>
    </ul>
    <%- include("template/footer")%>

